.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song .album {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    flex: 1;
}

.song .info {
    display: flex;
    justify-content: center;
    flex: 4;
}


.song .info .metadata {
    display: block;
    text-align: left;
}

.metadata {
    flex-direction: 'row';
    align-self: flex-start;
    justify-content: flex-start
}

.song .info .metadata h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: black;
    line-height: 0;
}

.song .info .metadata h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.song .info .heat {
    display: flex;
}

