.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.song .album {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-left: 50px;
}

.song .metadata {
    text-align: left;
    flex: 2;
    margin-left: 20px;
}

.song .metadata h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 0;
}

.song .metadata h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 10px;
}

.song .heat {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    margin-right: 25px;
    align-items: center;
    justify-content: space-between;
}

.song .heat img {
    width: 80px;
    height: 80px;
    margin-bottom: -4px;
}

.song .heat h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:black;
    /* background-color: #EF4A30;
    border-radius: 3px;
    padding: 5px;

    -webkit-box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3);
box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.3); */
}

@media only screen and (max-width: 450px) {
    .song {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .song .album {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }
    .song .metadata h1 {
        font-size: 18px;
    }
    .song .metadata h2 {
        font-size: 15px;
    }
    .song .heat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-right: 20px;
        background: transparent;
        align-self: center;
    }
    .song .heat img {
        width: 30px;
        height: auto;
        margin-bottom: -10px;
    }
    .song .heat h1 {
        margin-left: 0;
        font-size: 15px;
    }
}