.search {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search .results {
  
  align-self: center;
}